body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cambia el número según tu preferencia */
    gap: 10px;
    padding: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
